<section>
  <h1>Языки программирования</h1>
  <p>
    <strong>Язык программирования</strong>&nbsp;- это формализованный язык, который
    представляет собой совокупность алфавита, правил написания конструкций (синтаксис) и
    правил толкования конструкций (семантика).
  </p>
  <p>
    В настоящее время насчитывается несколько сотен языков программирования, рассчитанных
    на разные сферы применения ЭВМ, т. е. на разные классы решаемых с помощью ЭВМ задач.
    Эти языки классифицируют по разным уровням, учитывая степень зависимости языка от
    конкретной ЭВМ.
  </p>
  <p>
    Общепринятой и строгой классификации языков программирования не существует. Поэтому в
    курсе представлена классификация наиболее распространенных языков, сложившаяся
    исторически:
  </p>
  <table>
    <tbody>
      <tr>
        <td><p>Языки программирования</p></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><p>Низкого уровня</p></td>
        <td><p>Высокого уровня</p></td>
        <td></td>
      </tr>
      <tr>
        <td><p>Машинный</p></td>
        <td><p>Машинно-зависимые</p></td>
        <td><p>Машинно-независимые</p></td>
      </tr>
      <tr>
        <td><p>&nbsp;</p></td>
        <td><p>Ассемблер</p></td>
        <td><p>Универсальные</p></td>
      </tr>
      <tr>
        <td><p>&nbsp;</p></td>
        <td><p>Автокод</p></td>
        <td><p>Проблемно-ориентированные</p></td>
      </tr>
      <tr>
        <td><p>&nbsp;</p></td>
        <td><p>&nbsp;</p></td>
        <td><p>Объектно-ориентированные</p></td>
      </tr>
      <tr>
        <td><p>&nbsp;</p></td>
        <td><p>&nbsp;</p></td>
        <td><p>Командные языки баз данных</p></td>
      </tr>
    </tbody>
  </table>
  <p>
    На самом нижнем уровне классификации находится машинный язык, т. е. внутренний язык
    ЭВМ, на котором в конечном итоге представляется и исполняется программа.
  </p>
  <p>
    <strong>Универсальные языки</strong>&nbsp;высокого уровня обеспечивают создание
    различных программ (задач), например Алгол, Си, ПЛ/1 и т.д..
  </p>
  <p>
    <strong>Проблемно-ориентированные языки</strong>&nbsp;создавались под какие-то
    конкретные классы задач, например, Фортран - научные расчеты, Кобол - экономические
    расчеты, Лисп и Пролог - искусственный интеллект и т.д.
  </p>
  <p>
    <strong>Объектно-ориентированные языки</strong>&nbsp;четвертого поколения (4GL
    —&nbsp;<strong>forth-generation language</strong>) и программирование основаны на
    создании модели системы, как совокупности объектов и использует следующие базовые
    понятия: класс, объект, событие, свойства объекта, метод обработки. Первым языком
    программирования этой группы был - Симула-67. В настоящее время к этим языкам
    относятся - С++, Visual Basic, Java Script и динамический HTML и другие современные
    языки программирования.
  </p>
  <p>
    <strong>Командные языки баз данных</strong>предназначены длярасширения возможностей
    среды управления базами данных, для создания собственных функций интерфейса -
    взаимодействия с пользователем.
  </p>
  <p>
    <strong><br />История языков программирования</strong>.
  </p>
  <p>
    <strong><br />Неструктурные языки (широко использовались 40-е годы)</strong>
  </p>
  <p>Преимущества.</p>
  <p>Оптимизация программы под аппаратную архитектуру.</p>
  <p>Как следствие, обеспечение высокой эффективности вычислений.</p>
  <p>Недостатки</p>
  <p>
    Для каждого типа вычислительной машины должен был быть написан свой вариант исходного
    кода.
  </p>
  <p>Применение: быстрые численные расчеты, создание драйверов устройств.</p>
  <p>Примеры языков: Ассемблеры.</p>
  <p>
    <strong><br />Директивные (структурные) языки (появились в 50-е годы)</strong>
  </p>
  <p>Преимущества</p>
  <p>Повторное использование ранее написанных блоков кода.</p>
  <p>Высокая степень независимости программы от типа вычислительной машины.</p>
  <p>
    Повышение эффективности труда разработчиков, в том числе и за счет абстрагирования от
    конкретных деталей аппаратного обеспечения.
  </p>
  <p>Недостатки</p>
  <p>Некоторая потеря в скорости вычислений.</p>
  <p>
    Применение: создание операционных систем и системных программ, разработка небольших
    пользовательских приложений, научные расчеты.
  </p>
  <p>Примеры языков: FORTRAN, C, Pascal.</p>
  <p>
    <strong
      ><br />Декларативные (функциональные и логические) языки (зародились в 60-е
      годы)</strong
    >
  </p>
  <p>
    Программный код на декларативном языке программирования представляет собой описание
    действий, которые можно осуществлять, а не последовательный набор команд.
  </p>
  <p>Преимущества</p>
  <p>Легче формализуется математическими средствами.</p>
  <p>Как следствие, программы проще тестировать, т.е. проверять на наличие ошибок.</p>
  <p>Высокая степень абстракции.</p>
  <p>Недостатки</p>
  <p>Снижение скорости работы программы.</p>
  <p>Применение: доказательство теорем, возможность обработки разнородных данных.</p>
  <p>
    <strong><br />Функциональные языки</strong>
  </p>
  <p>
    Программу на функциональном языке можно представить как функцию с одним или
    несколькими аргументами.
  </p>
  <p>Преимущества</p>
  <p>Автоматическое динамическое распределение памяти компьютера для хранения данных.</p>
  <p>
    Программист получает возможность абстрагироваться от представления данных и других
    рутинных операциях и сосредоточиться на предметной области.
  </p>
  <p>Недостатки</p>
  <p>
    Нелинейная структура программы, следовательно, такое программирование сложно для
    понимания.
  </p>
  <p>Относительно невысокая эффективность вычислений.</p>
  <p>
    Применение: обработка рекурсивных структур данных, обработка символьной информации.
  </p>
  <p>Примеры языков: Haskell.</p>
  <p>
    <strong><br />Логические языки</strong>
  </p>
  <p>
    Программа представляет собой совокупность правил или логических высказываний.
    Преимущества
  </p>
  <p>
    Возможность откатов, т.е. возвращения к предыдущей подцели при отрицательном
    результате одного из вариантов в процессе поиска решения. Это избавляет от
    необходимости поиска решения путем полного перебора вариантов.
  </p>
  <p>Недостатки</p>
  <p>Узкий класс решаемых задач.</p>
  <p>Применение: эмуляция искусственного интеллекта, разработка экспертных систем.</p>
  <p>Примеры языков: Prolog.</p>
  <p>
    <strong><br />Объектно-ориентированные языки</strong>
  </p>
  <p>
    Программа представляет собой описание объектов, их свойств (или атрибутов), классов и
    отношений между ними, способов взаимодействия.
  </p>
  <p>Преимущества</p>
  <p>
    Смысловая близость к предметной области любой структуры и назначения. Механизм
    наследования свойств и методов позволяет строить производные понятия на основе
    базовых, создавая тем самым модели предметной области.
  </p>
  <p>Использование ранее созданных библиотек классов позволяет сэкономить время.</p>
  <p>Полиморфизм обеспечивает гибкость и универсальность программного обеспечения.</p>
  <p>Удобство разработки ПО группой лиц.</p>
  <p>Недостатки</p>
  <p>
    Сложность полной формализации реального мира создает в дальнейшем трудности
    тестирования созданного ПО.
  </p>
  <p>Применение: разработка больших пользовательских приложений.</p>
  <p>
    Примеры языков (большинство современных языков программирования поддерживают концепцию
    объектно-ориентированного программирования): C++, Python.
  </p>
  <p>
    <strong
      ><em><br />Языки сценариев</em></strong
    >
  </p>
  <p>
    Программа представляет собой совокупность возможных сценариев обработки данных. Выбор
    конкретного сценария зависит от наступления того или иного события.
  </p>
  <p>Преимущества</p>
  <p>
    Основные достоинства данного класса языков программирования унаследованы от
    объектно-ориентированных языков.
  </p>
  <p>
    Легкость использования с инструментальными средствами автоматизированного
    проектирования и быстрого создания ПО.
  </p>
  <p>Недостатки</p>
  <p>Сложность тестирования.</p>
  <p>Большое количество вариантов, которые требуется предусмотреть.</p>
  <p>Большая вероятность побочных эффектов.</p>
  <p><strong>Состав прикладного программного обеспечения</strong></p>
  <p>
    Программы, с помощью которых пользователь может решать свои информационные задачи, не
    прибегая к программированию, называются прикладными программами.
  </p>
  <p>
    Программы общего назначения: текстовые и графические редакторы, системы управления
    базами данных (СУБД), табличные процессоры, коммуникационные (сетевые) программы.
  </p>
  <p>
    . Операционная система - это набор программ, управляющих оперативной памятью,
    процессором, внешними устройствами и файлами, ведущих диалог с пользователем .
  </p>
  <p>
    Системное ПО – это комплекс программ, обеспечивающих выполнение общих для всех
    программ технических задач, взаимодействие с аппаратурой, диалог с пользователем.
  </p>
  <p>
    Операционные оболочки - программы, выполняющие роль посредника между пользователем и
    ПО компьютера
  </p>
  <p>Сервисные - Множество специальных программ обслуживающего (сервисного) характера.</p>
  <p>
    <strong>Разраблтка ПО</strong>&nbsp;(англ&nbsp;<em>software development</em>)&nbsp;—
    это род деятельности и процесс, направленный на создание и поддержание
    работоспособности, качества и надежности&nbsp;программного обеспечения, используя
    технологии, методологию и практики из&nbsp; информатики,&nbsp;управления
    проектами,&nbsp;математики,&nbsp;инженерии&nbsp;и других областей знания<sup>[</sup>
  </p>
  <p>Разработка ПО может быть разделена на несколько разделов. Это:</p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BA_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%BC%D1%83_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8E"
      ><strong>Требования к ПО</strong></a
    ><strong> (</strong>извлечение, анализ, спецификация и ратификация )
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      ><strong>Проектирование ПО</strong></a
    ><strong> </strong>
  </p>
  <p>
    Проектирование ПО средствами
    <a
      href="https://ru.wikipedia.org/wiki/%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%B0%D1%82%D0%B8%D0%B7%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%B0%D1%8F_%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%9E%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      >Автоматизированной Разработки Программного Обеспечения (CASE)</a
    >&nbsp;и стандарты формата описаний, такие как Унифицированный Язык Моделирования (<a
      href="https://ru.wikipedia.org/wiki/UML"
      >UML</a
    >), используя различные подходы:&nbsp;<a
      href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%D0%BD%D0%BE-%D0%BE%D1%80%D0%B8%D0%B5%D0%BD%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
      >проблемно-ориентированное проектирование</a
    >&nbsp;и т. д.
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5"
      ><strong>Программирование</strong></a
    ><strong> </strong>(создание ПО с помощью языков программирования)
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      ><strong>Тестирование программного обеспечения</strong></a
    ><strong>( </strong>поиск и исправление ошибок в программе)
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BF%D1%80%D0%BE%D0%B2%D0%BE%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      ><strong>Сопровождение программного обеспечения</strong></a
    ><strong> (</strong>программные системы часто имеют проблемы совместимости и
    переносимости, а также нуждаются в последующих модификациях)
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B3%D1%83%D1%80%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%BE%D0%B5_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5"
      ><strong>Управление конфигурацией ПО</strong></a
    ><strong> (</strong>стандартизированный и структурированный методы)
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5_%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%BE%D0%B9_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      ><strong>Управление разработкой ПО </strong></a
    >
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81_%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      ><strong>Процесс разработки ПО </strong></a
    >
    (основными парадигмами считаются&nbsp;<a
      href="https://ru.wikipedia.org/wiki/%D0%93%D0%B8%D0%B1%D0%BA%D0%B0%D1%8F_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F_%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8"
      >agile</a
    >&nbsp;или&nbsp;<a
      href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B2%D0%BE%D0%B4%D0%BE%D0%BF%D0%B0%D0%B4%D0%B0"
      >waterfall</a
    >)
  </p>
  <p>
    Инструменты разработки ПО, см.&nbsp;<a href="https://ru.wikipedia.org/wiki/CASE"
      >CASE</a
    >: методика оценки сложности системы, выбора средств разработки и применения
    программной системы.
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%BE_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      ><strong>Качество программного обеспечения</strong></a
    ><strong>:</strong> методика оценки критериев качества программного продукта и
    требований к надёжности.
  </p>
  <p>
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BA%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      >Локализация программного обеспечения</a
    >
    - ветвь&nbsp;<a
      href="https://ru.wikipedia.org/w/index.php?title=%D0%AF%D0%B7%D1%8B%D0%BA%D0%BE%D0%B2%D0%B0%D1%8F_%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D1%8C&amp;action=edit&amp;redlink=1"
      >языковой промышленности</a
    >.
  </p>
  <p>
    Опыт управления разработкой программ отражается в соответствующих руководствах,
    обычаях и стандартах. Если при разработке используется несколько стандартов и
    нормативных документов, то имеет смысл составить&nbsp;<a
      href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C_(%D1%81%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%D1%8B)"
      >профиль</a
    >.
  </p>
  <p>
    <strong>Участники процесса разработки ПО: </strong
    ><a
      href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BD%D0%B5%D1%87%D0%BD%D1%8B%D0%B9_%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C"
      >пользователь</a
    >,
    <a
      href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%BA%D0%B0%D0%B7%D1%87%D0%B8%D0%BA"
      >заказчик</a
    >,
    <a
      href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%81%D1%82"
      >разработчик</a
    >, руководитель проекта,
    <a
      href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F"
      >аналитик</a
    >,
    <a
      href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D1%89%D0%B8%D0%BA"
      >тестировщик</a
    >, поставщик.
  </p>
  <p><strong>Трансляторы</strong></p>
  <p>
    Чтобы вычислительная машина могла выполнить программу, написанную на каком-либо языке
    программирования, в её программном обеспечении должна быть программа-транслятор для
    этого языка.
  </p>
  <p>
    <strong>Интерпретатор </strong>переводит каждую команду программы с одновременным её
    выполнением и, если обнаруживает ошибку, сообщает о ней и прекращает выполнение
    программы. <strong> </strong>
  </p>
  <p>
    <strong>Компилятор </strong>переводит всю программу целиком и в конце работы выдаёт
    список ошибок, если они обнаружены.
  </p>
  <p>
    <strong>Трансляция</strong> - процесс перевода программы<strong>, </strong>написанной
    на алгоритмическом языке, на машинный язык (в коды компьютера).
  </p>
  <p><strong>Транслятор - программа-переводчик.</strong></p>
  <p>
    <strong>Компиляция:</strong> процесс трансляции и выполнения программы четко разделены
    во времени.
  </p>
  <p>
    <strong>Интерпретация: </strong>последовательно чередуются перевод группы инструкций
    языка в коды и их выполнение
  </p>
  <p>Компиляция выгодней по времени выполнения и памяти.</p>
  <p>Интерпретация удобней для организации диалоговых программ.</p>
  <p>По типу выходных данных различают два основных вида трансляторов:</p>
  <p>компилирующие окончательный выполнимый код;</p>
  <p>
    компилирующие интерпретируемый код, для выполнения которого требуется дополнительное
    программное обеспечение.
  </p>
  <p>
    Окончательным выполнимым кодом являются приложения, реализованные как EXE-файлы,
    DLL-библиотеки, COM-компоненты. К интерпретируемому коду можно отнести байт-код
    JAVA-программ, выполняемый посредством виртуальной машины JVM.
  </p>
  <p>
    Языки, формирующие окончательный выполнимый код, называются компилируемыми языками (С,
    C++, FORTRAN, Pascal). Языки, реализующие интерпретируемый код, называются
    интерпретируемыми языками(Java, LISP, Perl, Prolog).
  </p>
  <p>
    В процессе трансляции выполняется&nbsp;<strong>анализ</strong>&nbsp;исходной
    программы, а затем&nbsp;<strong>синтез</strong>&nbsp;выполнимой формы данной
    программы. В зависимости от числа просмотров исходной программы, выполняемых
    компилятором, трансляторы разделяются на однопроходные, двухпроходные и трансляторы,
    использующие более двух проходов.
  </p>
  <p>
    К достоинствам однопроходного компилятора можно отнести высокую скорость компиляции, а
    к недостаткам - получение, как правило, не самого эффективного кода.
  </p>
  <p>
    Широкое распространение получили двухпроходные компиляторы. Они позволяют при первом
    проходе выполнить анализ программы и построить информационные таблицы, используемые
    при втором проходе для формирования объектного кода.<br><br>
  </p>
  <p><img alt="" src="/assets/20.gif" /></p>
  <p><strong>Рис. 2.1.&nbsp;</strong>Основные этапы трансляции программы</p>
  <p><br>
    На этапе лексического анализа выполняется выделение основных составляющих программы –
    лексем ( ключевые слова, идентификаторы, символы операций, комментарии, пробелы и
    разделители). Составляется таблица символов, в которой каждому идентификатору
    сопоставлен свой адрес, чтобы вместо конкретного значения (строки символов)
    использовать его адрес в таблице символов. Требует применения сложных
    контекстно-зависимых алгоритмов.
  </p>
  <p>
    На этапе синтаксического анализа выполняется разбор полученных лексем с целью
    получения семантически понятных синтаксических единиц (выражения, объявление, оператор
    языка программирования, вызов функции), которые затем обрабатываются семантическим
    анализатором. На этапе семантического анализа выполняется обработка синтаксических
    единиц и создание&nbsp;<em>промежуточного кода</em>.
  </p>
  <p>К наиболее общим задачам, решаемым семантическим анализатором, относятся:</p>
  <p>обнаружение ошибок времени компиляции;</p>
  <p>заполнение таблицы символов конкретными значениями;</p>
  <p>замена макросов их определениями;</p>
  <p>выполнение директив времени компиляции.</p>
  <p>
    <strong>Макросом</strong>&nbsp;называется некоторый предварительно определенный код,
    который на этапе компиляции вставляется в программу во всех местах указания вызова
    данного макроса.
  </p>
  <p>На фазе синтеза программы производится: генерация кода; редактирование связей.</p>
  <p>
    Процесс генерации кода состоит из преобразования&nbsp;<em>промежуточного кода</em
    >&nbsp;(или оптимизированного кода) в объектный код. При этом в зависимости от языка
    программирования получаемый объектный код может быть представлен в выполнимой форме
    или как объектный модуль, подлежащий дальнейшей обработке редактором связей.
  </p>
</section>
<section></section>
