<section>
  <h1>Алгоритмы. Свойства и способы описания линейных алгоритмов.</h1>
  <p>
    <b>Алгоритм</b>&nbsp;&mdash; набор команд (инструкций), определяющих порядок действий
    исполнителя для решения поставленной задачи, достижения некоторого результата.
  </p>
  <p>
    Исполнитель алгоритма устройство, имеющее систему команд. Идеальными исполнителями
    являются машины, роботы, компьютеры.
  </p>
  <p>Свойства алгоритмов:</p>
  <p>
    1. <b>Дискретность</b>&mdash;&nbsp;алгоритм представляет собой последовательность
    элементарных шагов (команд исполнителя).
  </p>
  <p>
    2. <b>Детерминированность</b>&mdash;&nbsp;при одних и&nbsp;тех&nbsp;же входных данных
    получается один и&nbsp;тот&nbsp;же результат, т.е. любое действие должно быть строго
    и&nbsp;недвусмысленно определено в&nbsp;каждом случае;
  </p>
  <p>
    3. <b>Завершаемость (конечность) </b> каждый алгоритм завершается за&nbsp;конечное
    число шагов при любом наборе исходных данных.
  </p>
  <p>
    4. <b>Результативность</b>&nbsp;&mdash; после выполнения алгоритма известно, что
    считать результатом, алгоритм должен приводить к&nbsp;правильному результату для всех
    допустимых входных значениях.
  </p>
  <p>
    5.<b>Массовость</b>&nbsp;&mdash; применимость алгоритма ко&nbsp;множеству исходных
    данных.
  </p>
  <p><br />Порядок выполнения алгоритма:</p>
  <p>
    1. Действия в&nbsp;алгоритме выполняются в&nbsp;порядке их&nbsp;записи<br />
    2. Нельзя менять местами никакие два действия алгоритма<br />
    3. Нельзя не&nbsp;закончив одного действия переходить к&nbsp;следующему<br />
  </p>
  <p><br />Типы алгоритмов:</p>
  <p>
    1.Линейные (описание действий, которые выполняются однократно в&nbsp;заданном порядке;
    имеет линейную структуру).
  </p>
  <p>
    2.Разветвляющиеся (алгоритм, в&nbsp;котором в&nbsp;зависимости от&nbsp;условия
    выполняется либо одна, либо другая последовательность действий);
  </p>
  <p>
    3.Циклические (описание действий, которые должны повторятся указанное число раз или
    пока не&nbsp;выполнено заданное условие);
  </p>
  <p>
    4,Вспомогательные (алгоритм, который можно использовать в&nbsp;других алгоритмах,
    указав только его)
  </p>
  <p><br />Способы описания алгоритмов:</p>
  <p>
    Способы записи алгоритмов определяются исполнителем. Команды, которые может выполнять
    исполнитель наз. СИСТЕМОЙ КОМАНД ИСПОЛНИТЕЛЯ (СКИ). Способы записи бывают:
  </p>
  <p>1. на&nbsp;естественном языке;</p>
  <p>2. на&nbsp;специальном (формальном) языке (псевдокод);</p>
  <p>3. с&nbsp;помощью формул, рисунков, таблиц;</p>
  <p>4. с&nbsp;помощью стандартных графических объектов (геометрических фигур)</p>
  <p>
    Псевдокод представляет собой систему обозначений и&nbsp;правил, предназначенную для
    единообразной записи алгоритмов. Он&nbsp;занимает промежуточное место между
    естественным и&nbsp;формальным языком.
  </p>
  <p>5. графические.</p>
  <p>
    Каждому действию алгоритма соответствует геометрическая фигура (блочный символ).
    Перечень наиболее часто употребляемых символов
  </p>
  <p>приведен в&nbsp;таблице ниже.</p>
  <table>
    <tbody>
      <tr>
        <td><p>Название</p></td>
        <td><p>Символ (рисунок)</p></td>
        <td><p>Выполняемая функция (пояснение)</p></td>
      </tr>
      <tr>
        <td><p>1. Блок вычислений</p></td>
        <td>
          <p><img src="/assets/1.gif" /></p>
        </td>
        <td><p>Выполняет вычислительное действие или группу действий</p></td>
      </tr>
      <tr>
        <td><p>2. Логический блок</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image006.gif"
              src="/assets/2.gif"
            />
          </p>
        </td>
        <td><p>Выбор направления выполнения алгоритма в зависимости от условия</p></td>
      </tr>
      <tr>
        <td><p>3. Блоки ввода/вывода</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image007.gif"
              src="/assets/3.gif"
            />
          </p>
        </td>
        <td><p>Ввод или вывод данных вне зависимости от физического носителя</p></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image008.gif"
              src="/assets/4.gif"
            />
          </p>
        </td>
        <td><p>Вывод данных на печатающее устройство</p></td>
      </tr>
      <tr>
        <td><p>4. Начало/конец (вход/выход)</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image009.gif"
              src="/assets/5.gif"
            />
          </p>
        </td>
        <td><p>Начало или конец программы, вход или выход в подпрограмму</p></td>
      </tr>
      <tr>
        <td><p>5. Предопределенный процесс</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image010.gif"
              src="/assets/6.gif"
            />
          </p>
        </td>
        <td><p>Вычисления по стандартной или пользовательской подпрограмме</p></td>
      </tr>
      <tr>
        <td><p>6. Блок модификации</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image011.gif"
              src="/assets/7.gif"
            />
          </p>
        </td>
        <td><p>Выполнение действий, изменяющих пункты алгоритма</p></td>
      </tr>
      <tr>
        <td><p>7. Соединитель</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image012.gif"
              src="/assets/8.gif"
            />
          </p>
        </td>
        <td><p>Указание связи между прерванными линиями в пределах одной страницы</p></td>
      </tr>
      <tr>
        <td><p>8. Межстраничный соединитель</p></td>
        <td>
          <p>
            <img
              alt="http://ok-t.ru/studopediaru/baza4/138293625226.files/image013.gif"
              src="/assets/9.gif"
            />
          </p>
        </td>
        <td>
          <p>Указание связи между частями схемы, расположенной на разных страницах</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p><br />Правила построения блок-схем:</p>
  <p>
    1. Блок-схема выстраивается в&nbsp;одном направлении либо сверху вниз, либо слева
    направо
  </p>
  <p>2. Все повороты соединительных линий выполняются под углом 90&nbsp;градусов</p>
  <p><br />Пример алгоритма:</p>
  <p>Дано: x, y, z.</p>
  <p>Найти max.</p>
  <p>Алгоритм&nbsp;1. (словесное описание)</p>
  <img alt="Алгоритм 1. (словесное описание)" src="/assets/10.png" />
  <p><br />Алгоритм&nbsp;2. (псевдокод)</p>
  <img alt="Алгоритм 2. (псевдокод)" src="/assets/11.png" />
  <p><br />Пример. А.2., представленный блоксхемой</p>
  <img alt="Пример. А.2., представленный блоксхемой" src="/assets/12.jpeg" />

  <h1>Составные команды (следования, ветвления, цикла)</h1>
  <p>
    Элементарной структурной единицей любого алгоритма является
    <b>простая команда (оператор)</b>, обозначающая один элементарный шаг переработки или
    отображения информации. Простая команда на&nbsp;языке схем алгоритма изображается
    в&nbsp;виде функционального блока, имеющего один вход и&nbsp;один выход.
  </p>
  <p>
    Из простых команд и проверки условий образуются <b><i>составные команды</i></b
    >, имеющие более сложную структуру. Рассмотрим основные типы составных команд
    алгоритма.
  </p>
  <p><img alt="" src="/assets/13.gif" /></p>
  <p>Команда следования</p>
  <p>
    <br />Эта команда образуется из&nbsp;последовательности команд, следующих одна
    за&nbsp;другой. Под действием понимается либо простая, либо составная команда. Эти
    команды могут записываться либо в&nbsp;строчку, либо в&nbsp;столбец&nbsp;&mdash; одна
    под одной.
  </p>
  <p>
    Наличие скобок позволяет рассматривать команду следования как единое действие,
    распадающееся на&nbsp;последовательность более простых действий.
  </p>
  <p><br />Команда ветвления</p>
  <p><img alt="" src="/assets/14.gif" /><img alt="" src="/assets/15.gif" /></p>
  <p>б) неполное ветвление&nbsp;а) полное ветвление</p>
  <p>
    <br />С&nbsp;помощью <b>команды ветвления (развилки)</b> осуществляется выбор одного
    из&nbsp;двух возможных действий в&nbsp;зависимости от&nbsp;условия.
  </p>
  <p>
    <br />
    Действия, указанные после служебных слов <b>то&nbsp;и&nbsp;иначе</b>, могут быть
    простыми или составными командами. При исполнении команды ветвления выполняется только
    одно из&nbsp;действий: если условие соблюдено, то&nbsp;выполняется действие&nbsp;1,
    в&nbsp;противном случае&nbsp;&mdash; действие 2.
  </p>
  <p>
    <br />
    В&nbsp;том случае, когда условие соблюдено, продолжение исполнения алгоритма
    происходит по&nbsp;стрелке &laquo;+&raquo;, в&nbsp;противном случае&nbsp;&mdash;
    по&nbsp;стрелке <b>&laquo;&mdash;&raquo;</b>.
  </p>
  <p>
    Команда ветвления может использоваться <b>в&nbsp;сокращенной форме (коррекция)</b>,
    когда в&nbsp;случае несоблюдения условия никакое действие не&nbsp;выполняется.
  </p>
  <p>
    <br />
    <b> Циклический алгоритм</b>&nbsp;&mdash; Команда повторения (цикл)&nbsp;&mdash;
    описание действий, которые должны повторяться указанное число раз или пока
    не&nbsp;выполнено заданное условие.
  </p>
  <p>
    Большинство алгоритмов содержат серии многократно повторяемых команд. Если такие
    команды записывать в&nbsp;виде составной команды следования, то&nbsp;каждую
    повторяемую команду пришлось&nbsp;бы выписать ровно столько раз, сколько раз она
    повторяется. Поэтому для обозначения многократно повторяемых действий используют
    специальную конструкцию, называемую циклом.
  </p>
  <p>
    <b>Цикл</b>&nbsp;&mdash; управляющая структура, организующая многократное выполнение
    указанного действия.
  </p>
  <p><img alt="" src="/assets/16.gif" /></p>
  <p>
    <br />
    Составная <b>команда цикла</b>, называемая также <b>командой повторения</b>, содержит
    условие. состоит из&nbsp;двух частей: условия цикла, которое используется для
    определения количества повторений, и&nbsp;тела цикла(перечень повторяющихся
    действий).<br />
    У&nbsp;любого цикла есть параметр. Параметр цикла&nbsp;&mdash; это переменная, которая
    изменяется в&nbsp;теле цикла, а&nbsp;также участвует в&nbsp;условии его окончания.
  </p>
  <p>
    Циклические алгоритмы бывают двух типов:<br />
    Циклы со&nbsp;счетчиком(параметром), в&nbsp;которых какие-то действия выполняются
    определенное число раз; (безусловные циклы или арифметические циклы )<br />
    Циклы с&nbsp;условием, в&nbsp;которых тело цикла выполняется, в&nbsp;зависимости
    от&nbsp;какого-либо условия. Различают циклы с&nbsp;предусловием и&nbsp;постусловием.
  </p>
  <p><br /><b>Схема цикла с&nbsp;предусловие</b>м</p>
  <p><img alt="" src="/assets/17.jpeg" /></p>
  <p>
    Под действием, как и&nbsp;прежде, понимается простая или составная команда. Исполнение
    такой команды повторения состоит в&nbsp;том, что сначала проверяется условие (отсюда
    и&nbsp;название&nbsp;&mdash; <b><i>цикл с&nbsp;предусловием</i></b
    >), и&nbsp;если оно соблюдено, то&nbsp;выполняется команда, записанная после
    служебного слова <b>повторять</b>. После этого снова проверяется условие. Выполнение
    цикла завершается, когда условие перестает соблюдаться. Для этого необходимо, чтобы
    команда, выполняемая в&nbsp;цикле, влияла на&nbsp;условие. (этот тип цикла называют
    также циклом &laquo;пока&raquo;). . Можно сказать что условие цикла
    &laquo;пока&raquo;&nbsp;&mdash; это условие входа в&nbsp;цикл. В&nbsp;частном случае
    может оказаться что действие не&nbsp;выполнялось ни&nbsp;разу. Условие цикла
    необходимо подобрать так, чтобы действия, выполняемые в&nbsp;цикле, не&nbsp;привели
    к&nbsp;нарушению его истинности, иначе произойдет зацикливание.
    <b>Зацикливание</b>&nbsp;&mdash; бесконечное повторение выполняемых действий.
  </p>
  <p><br /><b>Схема цикла с&nbsp;постусловием</b></p>
  <p><img alt="" src="/assets/18.jpeg" /></p>
  <p>
    <br />
    <b>Команда повторения с&nbsp;постусловием</b> выполняется аналогично, только условие
    проверяется после выполнения команды, а&nbsp;повторение выполнения команды происходит
    в&nbsp;том случае, когда условие не&nbsp;соблюдено, т.&nbsp;е. повторение производится
    до&nbsp;соблюдения условия (поэтому этот тип цикла называют также циклом
    &laquo;до&raquo;). Таким образом, тело цикла будет реализовано хотя&nbsp;бы один раз.
    Если условие не&nbsp;выполняется, то&nbsp;происходит возврат к&nbsp;выполнению
    действий. Если условие истинно, то&nbsp;осуществляется выход из&nbsp;цикла. Для
    предотвращения зацикливания необходимо предусмотреть действия, приводящие
    к&nbsp;истинности условия.
  </p>
  <p>
    <br />
    <b>Циклы со&nbsp;счетчиком(параметром)</b> используют, когда заранее известно, какое
    число повторений тела цикла необходимо выполнить. Например, на&nbsp;уроке физкультуры
    вы&nbsp;должны пробежать некоторое количество кругов вокруг стадиона.
  </p>
  <p>
    В&nbsp;общем случае схема циклического алгоритма с&nbsp;условием будет выглядеть
    так:<br />
    <b>Пока</b>&nbsp;&mdash; условие <b>повторять</b>&nbsp;&mdash; действие..Назовите
    правила с
  </p>
  <p>
    <br />Для создания циклов со&nbsp;счётчиком ( параметром) необходимо использовать
    правила:
  </p>
  <p>
    1. Параметр цикла, его начальное и&nbsp;конечное значения и&nbsp;шаг должны быть
    одного типа.
  </p>
  <p>
    2. Запрещено изменять в&nbsp;теле цикла значения начальное, текущее и&nbsp;конечное
    для параметра.
  </p>
  <p>3. Запрещено входить в&nbsp;цикл минуя блок модификации</p>
  <p>
    4. Если начальное значение больше конечного, то&nbsp;шаг&nbsp;&mdash; число
    отрицательное.
  </p>
  <p>
    5. После выхода из&nbsp;цикла значение переменной параметра неопределенно
    и&nbsp;не&nbsp;может использоваться в&nbsp;дальнейших вычислениях.
  </p>
  <p>
    6. Из&nbsp;цикла можно выйти не&nbsp;закончив его, тогда переменная параметр сохраняет
    свое последнее значение.
  </p>
</section>
<section>
  <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script>
  <iframe
    src="https://forms.yandex.ru/u/6554f3bc84227c431615f3aa/?iframe=1"
    frameborder="0"
    name="ya-form-6554f3bc84227c431615f3aa"
    width="650"
    height="1200"
  ></iframe>
</section>
