<section>
  <h1>Основные типы данных</h1>
  <p>Совокупность величин, с которыми работает компьютер, принято называть данными.</p>
  <p>
    Всякая величина занимает свое определенное место в памяти ЭВМ ( ячейку памяти). тип. В
    алгоритмах и языках программирования величины подразделяются на константы и
    переменные. Константа — неизменная величина, и в алгоритме она представляется
    собственным значением, например: 15, 34.7, k, True и др. Переменные величины могут
    изменять свои значения в ходе выполнения программы и представляются в алгоритме
    символическими именами — идентификаторами, например: X, S2, cod15 и др. Любые
    константы и переменные занимают ячейку памяти, а значения этих величин определяются
    двоичным кодом в этой ячейке.
  </p>
  <p>
    Типы величин: целые, вещественные, логические и символьные Это понятие является
    фундаментальным в программировании.<br />
  </p>
  <p>Рис. 1.1. Уровни данных относительно программы</p>
  <p><img src="/assets/21.png" /></p>
  <p>
    <br />Типы величин характеризуются множеством допустимых значений, множеством
    допустимых операций, формой внутреннего представления (табл. 1.1).
  </p>
  <p>
    Типы констант определяются по контексту (т.е. по форме записи в тексте), а типы
    переменных устанавливаются в описаниях переменных. По структуре данные подразделяются
    на простые и структурированные. Для простых величин, называемых также скалярными,
    справедливо утверждение одна величина — одно значение, а для структурированных — одна
    величина — множество значений.<br /><br />
  </p>
  <p><img src="/assets/22.png" /></p>
  <p>таблица 1.1. Основные типы данных</p>
  <p><br />К структурированным величинам относятся массивы, строки, множества и др.</p>
  <p>Любые данные ТП характеризуются своими типами. Тип определяет:</p>
  <ol>
    <li>Формат представления данных в памяти компьютера</li>
    <li>
      Множество допустимых значений, принимаемое переменной или константой, принадлежащей
      к выбранному типу
    </li>
    <li>Множество допустимых операций применимых к этому типу</li>
  </ol>
  <p>
    Тип переменной определяется при ее декларации. Одна из базовых концепций Паскаля
    заключается в жесткой проверке соответствия типов в операциях присваивания.&nbsp;<br />Типы
    данных в языке ТП делятся на 5 основных классов:
  </p>
  <ol>
    <li>Простые типы</li>
    <li>Структурированные типы</li>
    <li>Ссылочные типы</li>
    <li>Процедурные типы</li>
    <li>Объектные типы</li>
  </ol>
  <p>
    К простым типам относятся: целочисленные типы, логический тип, символьный тип,
    перечисляемый тип, интервальный тип, вещественные типы.&nbsp;<br />Среди этих видов
    выделяют подмножества типов, отличных от вещественного, называемых порядковым
    типом.&nbsp;
  </p>
  <p>
    В TP имеется 5 предопределенных, целочисленных типов. Каждый тип обозначает
    определенное подмножество целых чисел:&nbsp;<br />
  </p>
  <table>
    <tbody>
      <tr>
        <td>
          <p>Тип</p>
        </td>
        <td>
          <p>Диапазон</p>
        </td>
        <td>
          <p>Формат</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Короткое целое shortint</p>
        </td>
        <td>
          <p>-128..127</p>
        </td>
        <td>
          <p>8 бит со знаком</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Целое integer</p>
        </td>
        <td>
          <p>-32768..32767</p>
        </td>
        <td>
          <p>16 бит со знаком</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Длинное целое longint</p>
        </td>
        <td>
          <p>-2147483648..2147483647</p>
        </td>
        <td>
          <p>32 бита со знаком</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Длиной в байт byte</p>
        </td>
        <td>
          <p>0..255</p>
        </td>
        <td>
          <p>8 бит без знака</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Длиной в слово word</p>
        </td>
        <td>
          <p>0..65535</p>
        </td>
        <td>
          <p>16 бит без знака</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <br />Верхнее граничное значение и нижнее граничное значение целочисленных типов
    задаются как константы и имеют соответствующее имя.&nbsp;<br />В тексте программы
    данные целочисленных типов записываются в десятичном или шестнадцатеричном формате и
    не должны содержать десятичные точки.&nbsp;<br />Над целочисленными данными возможно
    выполнение операций сложения, вычитания и умножения, а также операций сравнения.
  </p>
  <p>
    К логическим типам относятся данные
    типов&nbsp;Boolean,&nbsp;ByteBool,&nbsp;WordBool,&nbsp;LongBool.&nbsp;<br />Значением
    каждого данного логического типа могут являться 2 значения:&nbsp;TRUE&nbsp;(1)
    и&nbsp;FALSE&nbsp;(0).&nbsp;<br />Для данных логического типа применимы только две
    операции сравнения: равно и не равно.&nbsp;<br />Переменные
    типа&nbsp;Boolean&nbsp;и&nbsp;ByteBool&nbsp;занимают один байт;
    переменная&nbsp;WordBool&nbsp;- 2 байта.<br />Интервальный тип данных определяется
    посредством задания подмножества значений одного из ранее определенных типов. Можно
    использовать все простые типы, за исключением вещественного. При задании диапазона
    указывается наименьшее и наибольшее значения, разделенные двумя точками. При этом оба
    значения обязательно одного типа.&nbsp;<br />К вещественному типу относится
    подмножество вещественных чисел, представленных в формате с плавающей точкой и
    фиксированным числом цифр.&nbsp;<br />В ТП имеется 5 видов вещественных
    типов:&nbsp;<br />
  </p>
  <table>
    <tbody>
      <tr>
        <td>
          <p>Тип</p>
        </td>
        <td>
          <p>Диапазон</p>
        </td>
        <td>
          <p>Точность</p>
        </td>
        <td>
          <p>Формат</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Real (вещественное)</p>
        </td>
        <td>
          <p>2.9*10<sup>-39</sup>..1.7*10<sup>38</sup></p>
        </td>
        <td>
          <p>11-12 знаков</p>
        </td>
        <td>
          <p>6 байт</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Single (с одинарной точностью)</p>
        </td>
        <td>
          <p>1.5*10<sup>-45</sup>..3.4*10<sup>38</sup></p>
        </td>
        <td>
          <p>7-8 знаков</p>
        </td>
        <td>
          <p>4 байта</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Double (с двойной точностью)</p>
        </td>
        <td>
          <p>5.0*10<sup>-324</sup>..1.7*10<sup>308</sup></p>
        </td>
        <td>
          <p>15-16 знаков</p>
        </td>
        <td>
          <p>8 байт</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Extended (с повышенной точностью)</p>
        </td>
        <td>
          <p>3.4*10<sup>-4932</sup>..1.1*10<sup>4932</sup></p>
        </td>
        <td>
          <p>19-20 знаков</p>
        </td>
        <td>
          <p>10 байт</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Comp (сложное)</p>
        </td>
        <td>
          <p>-9.2*10<sup>18</sup>..9.2*10<sup>18</sup></p>
        </td>
        <td>
          <p>19-20 знаков</p>
        </td>
        <td>
          <p>8 байт</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <br />Действия над типами с одинарной, двойной, повышенной точностью и сложным типом
    могут выполняться только при наличии числового сопроцессора. Поэтому считается что
    постоянно доступным является только тип&nbsp;Real.&nbsp;
  </p>
  <p>Контрольные вопросы</p>
  <ol>
    <li>Константы и переменные</li>
    <li>Простые и структурированные типы данных</li>
  </ol>
  <h2><br />Операторы языка программирования</h2>
  <p>
    <strong>Язык программирования</strong>&nbsp;- это формализованный язык, который
    представляет собой совокупность алфавита, правил написания конструкций (синтаксис) и
    правил толкования конструкций (семантика).
  </p>
  <p>
    Описание синтаксиса языка включает определение&nbsp;алфавита&nbsp;и правил построения
    различных конструкций языка из символов алфавита и более простых конструкций. Для
    этого обычно используют форму Бэкуса-Наура (БНФ) или синтаксические диаграммы.
  </p>
  <p>
    СИМВОЛЫ языка-это основные неделимые знаки, в терминах которых пишутся все тексты на
    языке.
  </p>
  <p>ЭЛЕМЕНТАРНЫЕ КОНСТРУКЦИИ -это минимальные единицы языка, имеющие</p>
  <p>самостоятельный смысл. Они образуются из основных символов языка.</p>
  <p>
    ВЫРАЖЕНИЕ в алгоритмическом языке состоит из элементарных конструкций и символов, оно
    задает правило вычисления некоторого значения.
  </p>
  <p>
    ОПЕРАТОР задает полное описание некоторого действия, которое необходимо выполнить. Для
    описания сложного действия может потребоваться
  </p>
  <p>группа операторов. В этом случае операторы объединяются в СОСТАВНОЙ</p>
  <p>ОПЕРАТОР или БЛОК.</p>
  <p>
    Действия, заданные операторами, выполняются над ДАННЫМИ. Предложения алгоритмического
    языка, в которых даются сведения о типах данных,
  </p>
  <p>называются ОПИСАНИЯМИ или неисполняемыми операторами.</p>
  <p>
    Объединенная единым алгоритмом совокупность описаний и операторов образует ПРОГРАММУ
    на алгоритмическом языке.
  </p>
  <p>
    В процессе изучения алгоритмического языка необходимо отличать алгоритмический язык от
    того языка, с помощью которого осуществляется
  </p>
  <p>
    описание изучаемого алгоритмического языка. Обычно изучаемый язык называют просто
    языком, а язык, в терминах которого дается описание
  </p>
  <p>изучаемого языка - МЕТАЯЗЫКОМ.</p>
  <p>
    <br />Синтаксические определения могут быть заданы формальными или неформальным
    способами. Существуют три формальных способа:
  </p>
  <p>-металингвистическая символика, называемая Бэкуса-Наура формулами;</p>
  <p>-синтаксические диаграммы;</p>
  <p>-скобочные конструкции.</p>
  <p>
    <br />Основные символы языка-буквы, цифры и специальные символы-составляют его
    алфавит. ТУРБО ПАСКАЛЬ включает следующий набор основных
  </p>
  <p>символов:</p>
  <p>1) 26 латинских строчных и 26 латинских прописных букв:</p>
  <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
  <p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
  <p>2) _ подчеркивание</p>
  <p>3) 10 цифр:</p>
  <p>0 1 2 3 4 5 6 7 8 9</p>
  <p>4) знаки операций:</p>
  <p>+ - * / = &lt;&gt; &lt; &gt; &lt;= &gt;= := @</p>
  <p>5) ограничители:</p>
  <p>. , ' ( ) [ ] (. .) {{ '{ }' }} (* *) .. : ;</p>
  <p>6) спецификаторы:</p>
  <p>^ # $</p>
  <p>7) служебные (зарезервированные) слова:</p>
  <p>ABSOLUTE EXPORTS LIBRARY SET</p>
  <p>ASSEMBLER EXTERNAL MOD SHL</p>
  <p>AND FAR NAME SHR…</p>
  <p>Кроме перечисленных, в набор основных символов входит пробел. Про-</p>
  <p>белы нельзя использовать внутри сдвоенных символов и зарезервирован-</p>
  <p>ных слов.</p>
  <p></p>
  <p>Э Л Е М Е Н Т А Р Н Ы Е К О Н С Т Р У К Ц И И</p>
  <p></p>
  <p>Элементарные конструкции языка ПАСКАЛЬ включают в себя имена, чис-</p>
  <p>ла и строки.</p>
  <p><br />Примеры.</p>
  <p><img src="/assets/23.png" /></p>
  <p><br />0, 1, ... 9</p>
  <p>
    называют терминалами (лексемами) — это "конечные символы", т.е. по умолчанию известные
    в ЯП.
  </p>
  <p>&lt;цифра&gt; так называемый нетерминал (нетерминальный символ).</p>
  <p>
    Он определяется через терминалы, другие нетерминалы и самого себя. Причем в последнем
    случае правило задания нетерминала называется рекурсивным (как определение нетерминала
    &lt;идентификатор&gt;) РБНФ (Расширенные БНФ)
  </p>
  <p>[] — 0 или 1 повторение.</p>
  <p>{{ '{}' }} — 0 и более повторений</p>
  <p><br />Пример.</p>
  <p><img src="/assets/24.png" /></p>
  <p>
    <br />Грамматика языка — совокупность всех синтаксических правил данного ЯП, обычно
    заданных в форме БНФ.
  </p>
  <p>
    Грамматика не учитывает все виды ошибок, в ЯП формулируются дополнительные
    семантические правила.
  </p>
  <p>Лексемы Паскаля</p>
  <p>спецсимволы: := += *</p>
  <p>ключевые слова (<sub>begin, end, if, for</sub>)</p>
  <p>идентификаторы (a, b1)</p>
  <p>константы (2, 'ABC', #5)</p>
  <p>комментарии (3 вида)</p>
  <p>{{ '{...}' }}</p>
  <p>(*...*) //...</p>
  <p>Переменные и их описание</p>
  <p>Основные сведения</p>
  <p>Переменная — это ячейка памяти компьютера, имеющая имя и тип.</p>
  <p>Тип определяет размер переменной и множество принимаемых ею значений.</p>
  <p>
    В языке Pascal любая переменная перед использованием должна быть описана. Обычно
    переменные описываются в разделе описаний.
  </p>
  <p><br />Синтаксис в виде РБНФ</p>
  <p><img src="/assets/25.png" /></p>
  <p><br />Пример секции описания переменных.</p>
  <p><img src="/assets/26.png" /></p>
  <p><br />Арифметические выражения</p>
  <p>Основные сведения</p>
  <p>
    Каждое выражение имеет тип. Выражение называется арифметическим, если его тип —
    числовой. Выражение строится посредством операций (унарных или бинарных) и операндов.
  </p>
  <p>
    В арифметических выражениях если <sub>a</sub> и <sub>b</sub> — одного типа, то и
    <sub>a op b</sub> принадлежит к тому же типу. Исключением является операция "/":
  </p>
  <p>a / b — вещественное.</p>
  <p>
    Если <sub>a</sub> и <sub>b</sub> принадлежат к различным типам, то выражение
    принадлежит к "старшему" типу. Например:
  </p>
  <p><img src="/assets/27.png" /></p>
  <p><br />Стандартные функции</p>
  <p>В арифметические выражения могут входить стандартные функции:</p>
  <p><img src="/assets/28.png" /></p>
  <p><br />Порядок выполнения операций в арифметических выражениях</p>
  <p>Операции с большим приоритетом выполняются первыми</p>
  <p>Функции вычисляются до операций</p>
  <p>Выражение в скобках вычисляется раньше</p>
  <p>
    Операции с одинаковым приоритетом выполняются слева направо, если идут подряд.
    Операции div и mod для целых
  </p>
  <p>
    x div y = x / y, округленное до ближайшего целого по направлению к нулю. Это результат
    от целочисленного деления. x mod y = x - (x div y) * y. Это остаток от целочисленного
    деления.
  </p>
  <p>Пример использования</p>
  <p>Целочисленные операции часто применяются для определения четности числа:</p>
  <p><img src="/assets/29.png" /></p>
</section>
<section>
  <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script>
  <iframe
    src="https://forms.yandex.ru/u/655efbbbc769f101f391d26b/?iframe=1"
    frameborder="0"
    name="ya-form-655efbbbc769f101f391d26b"
    width="650"
    height="1200"
  ></iframe>
</section>
